[Unit]
Description=Run Apocalypse EWS metadata refresh daily

[Timer]
OnCalendar=*-*-* 00:29:00
Persistent=true
Unit=apocalypse-ews-refresh-imports.service

[Install]
WantedBy=timers.target
